h3 {
text-align: center;
}
.right{
    float: right;
}

.next{
    float: inline-end;
}

.floated {
    display:inline-block;
    margin-right:5px;
 }

 .button-box {
    text-align:center;
    margin-top:20px;
 }