<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="newTask">Add New</label>
            <input type="text" class="form-control" [(ngModel)]='todoInput' (change)="onChange()">
            <input class="col s2 disabled" type="date" [(ngModel)]='taskDate' />
        </div>
    </div>
    <div class="col-3 mt-4">
        <button type="button" style="margin-left: 100px;" class="btn btn-success margin-left: 350px;"(click)="addTask()" [disabled]="todoInput === '' || taskDate === ''">Add</button>
    </div>
    <div class="col-3 mt-4">
        <button type="button"  class="btn btn-danger"(click)="resetForm()" [disabled]="!todoInput.length">Reset</button>
    </div>
</div>

<app-todolist></app-todolist>
